body{
    background-color: white;
}
h1{
    text-decoration: underline;
    font-weight: 1000;
}

*{
    margin: 0;
    padding: 0;
}

#header{
    width: 100%;
    height: 60px;
    background-color: white;
    position: relative;
}
#header p{
    font-family: 'montserrat', sans-serif;
    font-size: 22px;
    color: rgb(255,0,255);
    line-height: 55px;
    float: left;
    padding: 0px 20px;
}
#header ul{
    float: left;
}

#header ul li{
    float: left;
    list-style: none;
    position: relative;
}
#header ul li a{
    font-family: 'montserrat', sans-serif;
    font-size: 14px;
    background-color: rgb(255,0,255);
    color: white;
    padding: 22px 14px;
    display: block;
    text-decoration: none;
}

#header ul li ul{
    display: none;
    position: absolute;
    background-color: rgb(255,0,255);
    padding: 10px;
    border-radius: 0px 0px 4px 4px;
}
/* activates the dropdown when hovering over it
*/
#header ul li:hover ul{
    display: block;
}


#header ul li ul li{
    width: 180px;
    border-radius: 6px;
}

#header ul li ul li a{
    padding: 8px 8px;
}

#header ul li ul li a:hover{
    background-color: #f3f3f3;
}
/*the header
*/
/*
header{
    width: 100%;
    height: 50px;
    border-bottom: solid 1px pink;
}

header nav ul{
    display: block;
    margin: 0 auto;
    width: fit-content;
}

header nav ul li{
    display: inline-block;
    margin: 15px 15px;
    color: rgb(255,0,255);
    border-radius: 4px;
    font-size: 25px;
    font-weight: 900;
    font-family: 'montserrat', sans-serif;
}
*/

#page-container{
    position: relative;
    min-height: 100vh;
}
/*
 styling certain header elements(ex:the add a todo button)
*/
/*
.current-projects{
    float: left;
    font-weight: 900;
    font-family: "montserrat", sans-serif;
    font-size: 25px;
    text-decoration: none;
    color: rgb(255,0,255);
    display: inline-block;  
}

.current-projects:hover{
    background: rgb(255,0,255);
}

.current-projects ul{
    display: none;
    list-style-type: none;
}

.current-projects ul li:hover > ul{
    display: block;
}
*/

#current-project-name{
    font-family: "montserrat", sans-serif;
    color: rgb(255,0,255);
    float:none;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    font-weight: 550;
    transform: translate(-50%, -50%);
}

#add-btn{
    border: 1px solid rgb(255,0,255);
    float: right;
    top: 0;
    line-height: 55px;
    width: 10%;
    text-align: center;
    color: white;
    background: rgb(255,0,255);
    font-family: "montserrat", sans-serif;
    cursor: pointer;
}

#add-projects{
    border: 1px solid rgb(255,0,255);
    float: right;
    top: 0;
    line-height: 55px;
    width: 10%;
    text-align: center;
    color: white;
    background: rgb(255,0,255);
    font-family: "montserrat", sans-serif;
    margin-left: 3px;
    cursor: pointer;
}

#content{
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    width: calc(50%-600px);
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: -50px;
    padding-bottom: 2.5rem;
}

#content-wrap{
    
    padding-bottom: 2.5rem;
    /*
    background-color: rgb(255,0,255);
    padding: 1px 0;
    box-shadow: 0 3px 5px rgba(0,0,0, .3);
    color: white;
    font-family: 'montserrat', sans-serif;
    */
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

/*the divs with the to do info in them
these divs are expandable
*/
.todo{
    width: 300px;
    max-height: 120px;
    border: 4px outset rgb(255,0,255);
    text-align: center;
    margin-bottom: 2px;
    color: rgb(255,0,255);
    border-radius: 12px;
    padding-top: 0px;
    font-weight: 900;
    word-wrap: break-word;
    font-family: 'montserrat', sans-serif;
    overflow: hidden;
    position: relative;
    transition: all .3s ease;
}

.expand{
    max-height: 50vh;
}

.expander{
    position: absolute;
    top: 100px;
    margin-top: 2px;
}

.close-todo{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 45px;
    transform: rotate(45deg);
    cursor: pointer;
}
/*


/*
the form which asks the user to enter the info in
*/
.form{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.form-content{
    width: 500px;
    height: 300px;
    background-color: white;
    opacity: 1;
    border-radius: 12px;
    text-align: center;
    position: relative;
    color: rgb(255,0,255);
    font-weight: 900;
    font-family: "montserrat", sans-serif;
    padding-top: 5px;
}

input[type=text]  {
    width: 50%;
    display: block;
    margin: 15px auto;
    color: rgb(255,0,255);
    font-weight: 900;
    border: solid 5px pink;
    background-color: white;
    border-radius: 4px;
}

input[type=date]{
    width: 50%;
    display: block;
    margin: 15px auto;
    font-weight: 900;
    border: solid 5px pink;
    background-color: white;
    border-radius: 4px;
}

#description{
    width: 50%;
    display: block;
    margin: 15px auto;
    color: rgb(255,0,255);
    font-weight: 900;
    border: solid 5px pink;
    background-color: white;
    border-radius: 4px;
    font-family: "montserrat", sans-serif;
}

input[type = radio]{
    border-radius: 2px;
    color: rgb(255,0,255);
    border: solid 5px rgb(255,0,255);
    vertical-align: text-top;
}

input[type=button]{
    display: block;
    margin: 20px auto;
    color: rgb(255,0,255);
    font-weight: 900;
    border: solid 5px pink;
    background-color: white;
    border-radius: 4px;
}
.close{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 45px;
    transform: rotate(45deg);
    cursor: pointer;
}
/*
the form for inputting the project name
*/
.project-form{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.project-form-content{
    width: 500px;
    height: 150px;
    background-color: white;
    opacity: 1;
    border-radius: 12px;
    text-align: center;
    position: relative;
    color: rgb(255,0,255);
    font-weight: 900;
    font-family: "montserrat", sans-serif;
    padding-top: 5px;
}

.project-close-button{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 45px;
    transform: rotate(45deg);
    cursor: pointer;
}
/*
stuff to fix the footer, thanks to freecodecamp for the info
*/
.content{
    margin-bottom: -50px;
    min-
}

.push{
    height: 50px;
}

footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 2.5rem;
    
}

footer nav ul{
    display: block;
    margin: 0 auto;
    width: fit-content;
}

footer nav ul li{
    display: inline-block;
    float: left;
    margin: 20px 20px;
    font-family: 'montserrat', sans-serif;
}

footer nav ul li a{
    color: orange;
    font-weight: 900;
}


.test-div{
    position: fixed;
    bottom: 0px;
    right: 100px;
    border: 1px solid black;
    width: 100%;
    height: 50px;
}